header.header
    .header__column
        a(href=routes.home)
            i.fab.fa-youtube
    .header__column
        form(action=routes.search, method="get")
            input(type="text", placeholder="Search by term...", name="term")
    .header__column
        
        if  !user.isAuthenticated
            ul
                li
                    a(href=routes.join) Join
                li 
                    a(href=routes.login) Log in
        else
            ul
                li hello, #{user.name}
                li 
                    a(href=routes.logout) Log out
                li 
                    a(href=routes.userDetail({ fullRoute: true, id: user.id})) Profile
                li 
                    a(href=routes.upload({fullRoute: true})) Upload
