extends layouts/main.pug
include mixins/videoBlock

block content
    .video__player
        video(src=`/${video.fileUrl}`, controls='true')
        //- differece between video.fileUrl and `/${video.fileUrl}`
    .video__info
        h5.video__title=video.title
        span.video__views=video.views
        p.video__description=video.description
    a.video__edit-button(href=routes.editVideo({fullRoute: true, id: video.id})) edit video