header.header
    .header__icon
        a(href=routes.home)
            i.fab.fa-youtube
    .header__search
        form(action=routes.search, method="get")
            input(type="text", placeholder="Search by term...", name="term", size="80")
    .header__user
        
        if  !user.isAuthenticated
            ul
                li
                    a(href=routes.join) Join
                li 
                    a(href=routes.login) Log in
        else
            h1.header__user.authenticated
                span #{user.name}
                span  &nbsp&nbsp···&nbsp&nbsp 
                span
                    a(href=routes.userDetail({ fullRoute: true, id: user.id})) Profile
                span &nbsp&nbsp·&nbsp&nbsp
                span
                    a(href=routes.upload({fullRoute: true})) Upload
                span &nbsp&nbsp·&nbsp&nbsp
                span
                    a(href=routes.logout) Logout
