header.header
    .header__icon
        h1
            a(href=routes.home)
                i.fab.fa-youtube
                span  #{siteName}
    .header__search-bar
        form(action=routes.search, method="get", autocomplete="off")
            input(type="text", placeholder="SEARCH", name="term", size="30", required=true)
    .header__user-navigator
        
        if  !currentUser
            h1.header__user-navigator.header__user-navigator_not-authenticated
                span
                    a(href=routes.join) Join
                span &nbsp·&nbsp
                span
                    a(href=routes.login) Login
        else
            h1.header__user-navigator.header__user-navigator_authenticated
                span #{currentUser.name}
                span  &nbsp···&nbsp 
                span
                    a(href=routes.currentUserDetail({fullRoute: true})) Profile
                span &nbsp·&nbsp
                span
                    a(href=routes.upload({fullRoute: true})) Upload
                span &nbsp·&nbsp
                span
                    a(href=routes.logout) Logout
