extends layouts/main.pug

block content
    .login-block
        form.login-block__form(action=routes.join, method="post")
            input.simple-input(type="text", name="name", placeholder="Full Name", required=true)
            input.simple-input(type="email", name="email", placeholder="Email", required=true)
            input.simple-input(type="password", name="password", placeholder="Password", required=true)
            input.simple-input(type="password", name="password2", placeholder="Verify Password", required=true)
            input.simple-input(type="submit", value="Join now")
        include partials/socialLogin