extends layouts/main.pug
include mixins/videoBlock

block content
    .user-detail
        .user-profile
            .user-profile__img 
                img(src=`${user.avatarUrl}`)
            .user-profile__info
                div name
                span=user.name
                div email
                span=user.email
                    if (user.githubId)
                        span &nbsp
                            i.fab.fa-github
                    if (user.facebookId)
                        span &nbsp
                            i.fab.fa-facebook
            if (user === currentUser)
                a.user-profile__edit-profile(href=routes.editProfile({fullRoute: true})) Edit Profile
                a.user-profile__change-password(href=routes.changePassword({fullRoute: true})) Change Password
                
        .user-comments user comments
        .navigator
            h1 UPLOADS
        .videos.user-videos
            each video in user.videos
                +videoBlock(video)