extends layouts/main.pug
include mixins/videoPlayer
include mixins/videoComments


block content
    .videoDetail
        .videoDetail__wrapper
            +videoPlayer(video)
            .videoDetail__info
                h4.videoDetail__title=video.title
                h5.videoDetail__views
                    span#jsViewNum #{video.views}
                    span &nbspviews
                h4 #{video.creator.name}
                p.videoDetail__description=video.description
                if (isCreator)
                    a.videoDetail__edit-button(href=routes.editVideo({fullRoute: true, id: video.id})) edit video
        +videoComments(video.comments)
            